.title-homepage {
  padding-top: 30%;
  background: no-repeat url("https://www.gutbuddiestheatre.com/assets/home-background.png");
  background-size: 100%;
}

.about-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #FADD8B;
  padding: 3em 0;
  text-align: center;
  line-height: 1.5em;
}
.about {
  text-align: center;
}
h3.about {
    line-height: 1.8em;
    font-size: 1em;
    padding-bottom: 3em;
    font-family: Campton-Book, Helvetica, sans-serif;
}
p.about {
    padding-left: 30em;
    padding-right: 30em;
}

.cta {
    background-color: #B25B48;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: #fadd8b;
    text-decoration: none;
    border-radius: 5px;
}
.projects-link, .projects-link:hover {
  text-decoration: none;
}
.gbprojects {
    background-color: #B25B48;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10em;
}

.gbprojects-container {
  border: #FADD8B;
  border-style: solid;
  padding: 2em 3em;
}

.tour-wrapper {
    padding: 0 2em;
}
.tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0 2em 0;
  background-color: #FADD8B;
}

ul.tour {
  display: table;
  text-align: left;
  padding: 0;
  line-height: 2em;
  width: 100%;
}

.contact {
    background-color: #1A3557;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em;
    text-align: center;
}

a.email {
  color: #FADD8B;
}

a.yellow {
  font-size: 2em;
  color: #FADD8B;
  margin-right: 0.5em;
}

.social-yellow {
    margin-top: 1em;
    font-size: 1.5em;
    color: #FADD8B;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
