@media screen and (max-width:426px) {
  .logo {
    max-width: 20em;
  }
  .navigation {
    max-width: 400px;
  }
  .menu-item {
    font-size: 0.7em;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
}
