@media screen and (max-width:426px) {
  .logo {
    max-width: 20em;
  }
  .navigation {
    max-width: 400px;
  }
  .menu-item {
    font-size: 0.7em;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  
}
@media screen and (max-width: 1025px) {
  .row-people {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .blue.band {
    display: none;
  }

  *, ::after, ::before {
    box-sizing: content-box;
  }

  .left-lip::before, .right-lip::before{
    display: none;
  }
}
