/*Projects*/

.title{
  text-align: center;
  background-color: #FADD8B;
  padding-top: 1em;
  padding-bottom: 1em;
}

.column-half {
  width:60%;
}

p.yellow {
  color: #FADD8B;
  padding: 1em 0 1em 0;
}

.portfolio-item {
  display:flex;
  flex-direction: row;
  min-height: 500px;
  overflow: hidden;
}

.gutbuddies-photo {
  background-image: url("../assets/projects/Asset 1pj.png");
  object-fit: contain;
  flex-shrink: 0;
  background-size: cover;
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  align-items: center;
  background-color: #B25B48;
  position: relative;
  z-index: 1;
}

a.cta.yellow {
  background-color: $gyellow;
  color: $gred;
  font-size: 1em;
}


.right-lip {
  padding-right: 4em;
  background-color: #B25B48;
}
.right-lip::before {
    content: "";
    background-color: #B25B48;
    position: absolute;
    z-index: -1;
    width: 150%;
    height: 300%;
    transform: rotate(25deg);
}

.left-lip {
  padding-left: 4em;
  background-color: #1A3557;
}
.left-lip::before {
    content: "";
    background-color: #1A3557;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 300%;
    left: 50%;
    transform: rotate(-25deg);
}
.cats-photo {
  background-image: url("../assets/projects/Asset 3pj.png");
  object-fit: contain;
  flex-shrink: 0;
  background-size: cover;
}

.barbados-photo {
  background-image: url("../assets/projects/Asset 4pj.png");
  object-fit: contain;
  flex-shrink: 0;
  background-size: cover;
}

.nature-honour-wrapper {
  background-color: #1A3557;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

.nature-honour-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p.nature-text {
  width: 60%;
}
.nature-honour-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  object-fit: contain;
}
img.nature {
  width: 100%;
}
img.main-pic {
  grid-column-start: 1;
  grid-column-end: 3;
}

img.mat {
  grid-column-start: 1;
  grid-column-end: 2;
}

img.fish{
  grid-column-start: 2;
  grid-column-end: 3;
}
