/*Colours*/
$gyellow: #FADD8B;
$gblue: #1A3557;
$gred: #B25B48;

@font-face {
  font-family: "Campton-Bold";
  src: url("../fonts/Campton Bold.otf");
}
@font-face {
  font-family: "Campton-Book";
  src: url("../fonts/Campton Book.otf");
}

* {
  font-family: Campton-Book, Helvetica, sans-serif;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  background-color: $gyellow;
}
strong {
  font-family: Campton-Bold, Helvetica, sans-serif;
}
a {
  font-family: Campton-Book, Helvetica, sans-serif;
  text-decoration: none;
}
p {
  color: #1A3557;
  font-family: Campton-Book, Helvetica, sans-serif;
}

h1 {
  font-family: Campton-Bold , Helvetica, sans-serif;
  color: #B25B48;
}

h2 {
  font-family: Campton-Bold , Helvetica, sans-serif;
  color: #FADD8B;
  font-size: 2em;
}

h3 {
  color: #1A3557;
  font-family: Campton-Bold;
}

li {
  font-family: Campton, Helvetica, sans-serif;
  color: #1A3557;
  min-width: fit-content;

}

line {
  color: #1A3557;
}

/*Header*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  border-bottom: solid;
  border-color: #1A3557;
  flex-grow: auto;
}

.navigation {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 70%;
}

.menu-item {
  font-family: Campton-Bold , Helvetica, sans-serif;
  text-decoration: none;
  color: #1A3557;
  font-size: 1em;
}

.menu-item + .menu-item {
  margin-left: 6em;
}

.social-blue {
  font-size: 1.3em;
  color: #1A3557;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Footer*/

.footer {
  border-top: solid;
  border-color: $gred;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em 0 1.5em 0;
}


.fab.fa-instagram, .fab.fa-twitter {
  padding-left: 1em;
}

.social-red {
  font-size: 1.3em;
  color: #B25B48;
  display: flex;
  justify-content: space-around;
}

.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

  span.footer-caption {
  color: #B25B48;
  font-family: Campton-Book, Helvetica, sans-serif;
  text-align: center;
}
