@font-face {
  font-family: "Campton-Bold";
  src: url("/fonts/Campton Bold.otf");
}
@font-face {
  font-family: "Campton-Book";
  src: url("/fonts/Campton Book.otf");
}
* {
  font-family: Campton-Book, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

a {
  font-family: Campton-Book, Helvetica, sans-serif;
}

p {
  color: #1A3557;
  font-family: Campton-Book, Helvetica, sans-serif;
}

h1 {
  font-family: Campton-Bold, Helvetica, sans-serif;
  color: #B25B48;
}

h2 {
  font-family: Campton-Bold, Helvetica, sans-serif;
  color: #FADD8B;
  font-size: 2em;
}

h3 {
  color: #1A3557;
}

li {
  font-family: Campton-Bold, Helvetica, sans-serif;
  color: #1A3557;
}

line {
  color: #1A3557;
}

/*Header*/
.header {
  background-color: #FADD8B;
  padding-top: 2em;
  border-bottom: solid;
  border-color: #1A3557;
}

.navigation {
  margin-top: 2em;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 40em;
}

.menu-item {
  font-family: Campton-Bold, Helvetica, sans-serif;
  text-decoration: none;
  color: #1A3557;
  font-size: 1em;
}

.menu-item + .menu-item {
  margin-left: 6em;
}

.social-container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  bottom: 4em;
  right: 6em;
}

.fab.blue {
  font-size: 2em;
  color: #1A3557;
  margin-right: 0.5em;
}

/*Footer*/
.footer-center {
  background-color: #FADD8B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer-right {
  background-color: #FADD8B;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

.social-red {
  font-size: 1.3em;
  color: #B25B48;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  bottom: -5em;
}

span.footer {
  color: #B25B48;
  font-family: Campton-Book, Helvetica, sans-serif;
}

.title-homepage {
  height: 600px;
  background-image: url("assets/home-background.png");
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #FADD8B;
  padding-bottom: 6em;
  padding-top: 2em;
  text-align: center;
  line-height: 1.5em;
}

p.about {
  padding-left: 30em;
  padding-right: 30em;
}

.cta {
  background-color: #B25B48;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: #fadd8b;
  text-decoration: none;
  border-radius: 5px;
}

.projects {
  background-color: #B25B48;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10em;
}

.projects-container {
  border: #FADD8B;
  border-style: solid;
  padding-left: 2em;
  padding-right: 2em;
}

.tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: #FADD8B;
}

ul.tour {
  display: grid;
  line-height: 2em;
}

.contact {
  background-color: #1A3557;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em;
  text-align: center;
}

a.email {
  color: #FADD8B;
}

a.yellow {
  font-size: 2em;
  color: #FADD8B;
  margin-right: 0.5em;
}

.social-yellow {
  margin-top: 1em;
  font-size: 1.5em;
  color: #FADD8B;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

/*Projects*/
.title {
  text-align: center;
  background-color: #FADD8B;
  padding-top: 1em;
  padding-bottom: 1em;
}

.column-half {
  width: 60%;
}

p.yellow {
  color: #FADD8B;
  padding-top: 1em;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  min-height: 500px;
  overflow: hidden;
}

.gutbuddies-photo {
  background-image: url("assets/projects/Asset 1pj.png");
  object-fit: contain;
  flex-shrink: 0;
  background-size: cover;
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  align-items: center;
  background-color: #B25B48;
  position: relative;
  z-index: 1;
}

.right-lip {
  padding-right: 4em;
  background-color: #B25B48;
}

.right-lip::before {
  content: "";
  background-color: #B25B48;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 15%;
  min-width: 300px;
  height: 150%;
  top: 0;
  right: 90%;
  transform: rotate(25deg);
}

.left-lip {
  padding-left: 4em;
  background-color: #1A3557;
}

.left-lip::before {
  content: "";
  background-color: #1A3557;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 15%;
  min-width: 300px;
  height: 150%;
  left: 90%;
  transform: rotate(-25deg);
}

.cats-photo {
  background-image: url("assets/projects/Asset 3pj.png");
  object-fit: contain;
  flex-shrink: 0;
  background-size: cover;
}

.barbados-photo {
  background-image: url("assets/projects/Asset 4pj.png");
  object-fit: contain;
  flex-shrink: 0;
  background-size: cover;
}

.nature-honour {
  background-color: #1A3557;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

.nature-honour.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nature-honour.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

.secondary-photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
