/* Styles Sheet for Gut Buddies */

@font-face {
  font-family: "Campton-Bold";
  src: url("/fonts/Campton Bold.otf");
}
@font-face {
  font-family: "Campton-Book";
  src: url("/fonts/Campton Book.otf");
}
a {
  font-family: Campton-Book, Helvetica, sans-serif;
}
p {
  color: #1A3557;
  font-family: Campton-Book, Helvetica, sans-serif;
}

h1 {
  font-family: Campton-Bold , Helvetica, sans-serif;
  color: #B25B48;
}

h2 {
  font-family: Campton-Bold , Helvetica, sans-serif;
  color: #FADD8B;
  font-size: 2em;
}

li {
  font-family: Campton-Bold , Helvetica, sans-serif;
  color: #1A3557;
}

line {
  color: #1A3557;
}

.header {
  background-color: #FADD8B;
  padding-top: 2em;
  border-bottom: solid;
  border-color: #1A3557;
}

.navigation {
  margin-top: 2em;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 40em;
}

.menu-item {
  font-family: Campton-Bold , Helvetica, sans-serif;
  text-decoration: none;
  color: #1A3557;
  font-size: 1em;
}

.menu-item + .menu-item {
  margin-left: 6em;
}

.social-container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  bottom: 4em;
  right: 6em;
}

.fab.blue {
  font-size: 2em;
  color: #1A3557;
  margin-right: 0.5em;
}

.title-homepage {
  height: 600px;
  background-image: url("assets/home-background.png");
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FADD8B;
  padding-bottom: 6em;
  padding-top: 2em;
}

p.about {
    padding-left: 30em;
    padding-right: 30em;
}

.cta {
    background-color: #B25B48;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: #fadd8b;
    text-decoration: none;
    border-radius: 5px;
}

.projects {
    background-color: #B25B48;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10em;
}

.projects-container {
  border: #FADD8B;
  border-style: solid;
  padding-left: 2em;
  padding-right: 2em;
}


.tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: #FADD8B;
}

ul.tour {
    display: grid;
    line-height: 2em;
}

.contact {
    background-color: #1A3557;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em;
    text-align: center;
}

a.email {
  color: #FADD8B;
}

a.yellow {
  font-size: 2em;
  color: #FADD8B;
  margin-right: 0.5em;
}

.social-yellow {
    margin-top: 1em;
    font-size: 1.5em;
    color: #FADD8B;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
/*
.footer {
  background-color: #FADD8B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.footer {
    text-align: center;
    margin-top:
}

.social-red {
    font-size: 1.3em;
    color: #B25B48;
    margin-right: 0.3em;
    margin-left: 0.3em;
    position: relative;
    left: 10em;
    bottom: 0.2em;
}
*/

.footer-center {
  background-color: #FADD8B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer-right {
  background-color: #FADD8B;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.social-red {
    font-size: 1.3em;
    color: #B25B48;
    display: flex;
    justify-content: space-around;
    padding:1em;
    bottom: -5em;
}

span.footer {
  color: #B25B48;
  font-family: Campton-Book, Helvetica, sans-serif;
}
